html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.container {
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.aside {
  flex-grow: 1;
}

.article {
  flex-grow: 2;
}
